@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Culture : @System.Threading.Thread.CurrentThread.CurrentCulture ui Culture : @System.Threading.Thread.CurrentThread.CurrentUICulture</p>
</div>
<div>
    <form  method="post">
        <input asp-for="Chaine"/>
        <span asp-validation-for="Chaine"></span>
        <input type="submit"/>
    </form> 
</div>
